<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            color: red;
            border: 5px;
            text-align: center;


        }
        h1{
            text-align: center;
            color: blue;
            text-size-adjust: 10px;
        }
        body{
            background-color: black;
        }
        div{
            text-size-adjust: 10px;

        }
    </style>
</head>
<body>
    <h1>Regisation page</h1>
    <form action="/hit1/" method="POST">
        {%csrf_token%}
      <div>
    USERNAME<input type="text" name="us"><br>
    PASSWORD<input type="password" name='pa'><br>
    <br><br>
    <input type='submit' value="register">
</div> 
    </form>


</body>
</html>